/* line 17, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h5 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  text-rendering: optimizeLegibility;
}

/* line 39, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_typography.scss */
h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .hide-small {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 979px) {
  /* line 92, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .hide-medium {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 97, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .hide-large {
    display: none;
  }
}

/* line 103, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
.show-small {
  display: none;
}
@media (max-width: 769px) {
  /* line 103, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .show-small {
    display: block;
  }
}

/* line 109, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
.show-medium {
  display: none;
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 109, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .show-medium {
    display: block;
  }
}

/* line 115, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
.show-large {
  display: none;
}
@media (min-width: 1200px) {
  /* line 115, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .show-large {
    display: block;
  }
}

/* line 18, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
p, blockquote, pre {
  margin: 15px 0;
}

/* line 22, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
blockquote, pre {
  padding: 0 20px;
}

/* line 26, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
pre, code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

/* line 30, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
img, object, embed {
  height: auto;
  max-width: 100%;
}

/* line 34, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
a {
  color: #3333ff;
  text-decoration: none;
}
/* line 37, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
a.active {
  border-bottom: 5px solid #3333ff;
}

/* line 42, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
.container {
  margin: 0 auto;
  width: 940px;
  *zoom: 1;
}
/* line 38, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 769px) {
  /* line 42, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container {
    padding: 0 20px;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 42, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  /* line 42, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container {
    width: 1180px;
  }
}
/* line 44, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
.container .gr {
  margin-bottom: 10px;
  margin-left: -20px;
  *zoom: 1;
}
/* line 38, /Users/dpett/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container .gr:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 769px) {
  /* line 44, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container .gr {
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 44, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container .gr {
    margin-left: -10px;
  }
}
@media (min-width: 1200px) {
  /* line 44, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
  .container .gr {
    margin-left: -20px;
  }
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-1 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 60px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-1 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-1 {
    margin-left: 10px;
    width: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-1 {
    margin-left: 20px;
    width: 80px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-1.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-2 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 140px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-2 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-2 {
    margin-left: 10px;
    width: 120px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-2 {
    margin-left: 20px;
    width: 180px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-2.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-3 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 220px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-3 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-3 {
    margin-left: 10px;
    width: 185px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-3 {
    margin-left: 20px;
    width: 280px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-3.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-4 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 300px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-4 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-4 {
    margin-left: 10px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-4 {
    margin-left: 20px;
    width: 380px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-4.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-5 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 380px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-5 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-5 {
    margin-left: 10px;
    width: 315px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-5 {
    margin-left: 20px;
    width: 480px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-5.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-6 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 460px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-6 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-6 {
    margin-left: 10px;
    width: 380px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-6 {
    margin-left: 20px;
    width: 580px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-6.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-7 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 540px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-7 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-7 {
    margin-left: 10px;
    width: 445px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-7 {
    margin-left: 20px;
    width: 680px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-7.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-8 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 620px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-8 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-8 {
    margin-left: 10px;
    width: 510px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-8 {
    margin-left: 20px;
    width: 780px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-8.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-9 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 700px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-9 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-9 {
    margin-left: 10px;
    width: 575px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-9 {
    margin-left: 20px;
    width: 880px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-9.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-10 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 780px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-10 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-10 {
    margin-left: 10px;
    width: 640px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-10 {
    margin-left: 20px;
    width: 980px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-10.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-11 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 860px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-11 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-11 {
    margin-left: 10px;
    width: 705px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-11 {
    margin-left: 20px;
    width: 1080px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-11.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-12 {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 940px;
}
@media (max-width: 769px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-12 {
    float: none;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-12 {
    margin-left: 10px;
    width: 770px;
  }
}
@media (min-width: 1200px) {
  /* line 87, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-12 {
    margin-left: 20px;
    width: 1180px;
  }
}
/* line 79, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-12.fill {
  background-color: #ffffff;
  border: 1px solid;
  padding: 10px 10px 100px;
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-1 {
  margin-left: 100px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 75px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 120px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-2 {
  margin-left: 180px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 140px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 220px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-3 {
  margin-left: 260px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 205px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 320px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-4 {
  margin-left: 340px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 270px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 420px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-5 {
  margin-left: 420px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 335px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 520px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-6 {
  margin-left: 500px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 400px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 620px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-7 {
  margin-left: 580px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 465px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 720px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-8 {
  margin-left: 660px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 530px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 820px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-9 {
  margin-left: 740px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 595px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 920px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-10 {
  margin-left: 820px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 660px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 1020px;
  }
}
/* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
.container .gr .gc-off-11 {
  margin-left: 900px;
}
@media (max-width: 769px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 979px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 725px;
  }
}
@media (min-width: 1200px) {
  /* line 108, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 1120px;
  }
}
@media (max-width: 769px) {
  /* line 48, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .container .gr .off-screen {
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 10000;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  /* line 59, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .container .gr .off-screen.on-screen {
    left: 0;
  }
  /* line 62, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
  .container .gr .off-screen.on-screen .button-close {
    display: block;
  }
}
/* line 67, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria/_responsive.scss */
.container .gr .off-screen .button-close {
  background-color: white;
  display: none;
  height: 40px;
  position: absolute;
  right: -40px;
  top: 10px;
  width: 40px;
}
/* line 49, /Users/dpett/Desktop/digitaria/tm2/css_framework/stylesheets/digitaria.scss */
.container .gr .gc-info {
  background: #3333ff;
  color: white;
  padding: 2px 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
