<?xml version="1.0" encoding="utf-8"?>
<Build xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ProjectName="Template Manager 2">
  <Templates>
    <Template Name="Test Template" LayoutName="Test Layout 1" TemplateClass="test-template-class">
      <Rails>
        <Rail Name="mainContentColExtra">
          <Modules>
            <Module Name="Module 1" />
          </Modules>
        </Rail>
        <Rail Name="mainContentCol1">
          <Modules>
            <Module Name="Module 2" />
          </Modules>
        </Rail>
        <Rail Name="mainContentCol2">
          <Modules>
            <Module Name="Module 3" />
          </Modules>
        </Rail>
        <Rail Name="mainContentCol3">
          <Modules>
            <Module Name="Module 1" />
          </Modules>
        </Rail>
        <Rail Name="mainContentCol4">
          <Modules>
            <Module Name="Module 2" />
          </Modules>
        </Rail>
        <Rail Name="mainContentCol5">
          <Modules>
            <Module Name="Module 2" />
          </Modules>
        </Rail>
      </Rails>
    </Template>

  </Templates>

  <Layouts>
    <Layout Name="Test Layout 1" Class="layout1">
      <Columns>
        <Column Name="mainContentColExtra" Class="extra" />
        <Column Name="mainContentCol3" Class="rail3" />
        <Column Name="mainContentCol4" Class="rail4" />
        <Column Name="mainContentCol5" Class="rail5" />
      </Columns>
    </Layout>

    <Layout Name="Test Layout 2" Class="layout2">
      <Columns>
        <Column Name="mainContentColExtra" Class="extra" />
        <Column Name="mainContentCol4" Class="rail4" />
        <Column Name="mainContentCol5" Class="rail5" />
      </Columns>
    </Layout>

    <Layout Name="Test Layout 3" Class="layout3">
      <Columns>
        <Column Name="mainContentColExtra" Class="extra" />
        <Column Name="mainContentCol1" Class="rail1" />
        <Column Name="mainContentCol2" Class="rail2" />
        <Column Name="mainContentCol3" Class="rail3" />
        <Column Name="mainContentCol4" Class="rail4" />
        <Column Name="mainContentCol5" Class="rail5" />
        <Column Name="mainContentCol6" Class="rail6" />
      </Columns>
    </Layout>
  </Layouts>
</Build>