<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="xmlFile" value="~/Html/Site.config" />           <!-- Can be referenced to lower directories ->  ~/Manager/Project.config -->
    <add key="modulesPath" value="~/Html/Modules/" />          <!-- All files in top-level directory should be modules with #info headers -->
    <add key="mainHTML" value="~/Html/Main.html" />            <!-- Location of main layout file -->
    <add key="emptyRail" value="~/Html/EmptyRail.html" />      <!-- Template of an empty rail -->
    <add key="placeholderExpr" value="{{{([^}]*)}}}" />        <!-- Placeholders are known by {{ID}} -->
    <add key="disableDeleteButtons" value="true" />            <!-- Disable the code that adds the Delete buttons -->
    <add key="useTripleBrackets" value="true" />               <!-- Use Triple {s -->
    <add key="userInterfaceJS" value="/Html/Assets/TemplateManager.js" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="TemplateViewer" path="*.thtml" verb="*" type="Digitaria.Web.Core.HttpHandlers.TemplateManager.Viewer" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>