//----------------------------
// imports
//----------------------------
@import "digitaria/base";

* {
  @include box-sizing(border-box);
}
body {
  color: $color-default;
  @include type-body;
}

@include buttons;
@include labels;

@include type-headings;
@include responsive-utilities;

p, blockquote, pre {
  margin: ms(0) 0;
}

blockquote, pre {
  padding: 0 20px;
}

pre, code {
  @include type-mono;
}

img, object, embed {
  @include responsive-images;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover, &:focus, &.active {
    border-bottom: 5px solid lighten($color-primary, 10%);
    color: lighten($color-primary, 10%);
  }
}

.container {
  @include grid-container;
  .gr {
    @include grid-row;
    @include grid-columns(gc-);
    @include grid-column-offsets(gc-off-);
    @include off-screen;
    .gc-info {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}